<h1 style="font-size:2rem; color:orange;">Project 1 - Exploring the 2023 SIPA Alumni Employment Data</h1>

**In this project, I explore a new dataset using both pandas and Python‚Äôs standard library.**

*Goal: Practice basic data wrangling and summary statistics (mean/median/mode) in pandas and again with only the Python standard library.*

# Step 1.1 ‚Äì Exploring the Raw File

*The dataset was originally provided as an Excel file from the SIPA Alumni Employment Report. Because the project required a CSV or JSON format, I converted the Excel file to a CSV before importing it into Python.*

*After loading the file, I noticed that all the columns appeared as ‚ÄúUnnamed‚Äù with numerical indexes (0, 1, 2, 3, etc.). This happened because the Excel sheet contained several extra rows at the top with notes, instructions, and manually entered comments, rather than actual column headers.*

*The first few rows included text such as ‚ÄúManually Add,‚Äù ‚ÄúLookup from Alumni Report,‚Äù and ‚ÄúAdd from LinkedIn Report,‚Äù indicating that the dataset mixed metadata with data. The true column names, including ‚ÄúSalary,‚Äù did not appear until the third row.*

*To address this, I identified the correct row containing the real headers and reloaded the CSV file using that row as the header. This ensured that pandas correctly recognized the column names and allowed me to focus on the Salary column for further analysis.*

In [1]:
import pandas as pd

data_raw = pd.read_csv("sipa_alumni_employment.csv", header=None)
data_raw.head(10)

ModuleNotFoundError: No module named 'pandas'

# Step 1.2 ‚Äì Viewing the First 10 Rows

*To understand the structure of the dataset after converting it from Excel to CSV, I viewed the first ten rows of the raw file. The output showed that most of the top rows contained missing values (NaN) or text notes, rather than actual data. For example, the first row included empty cells and phrases like ‚ÄúAdd from LinkedIn Report,‚Äù while the second row contained administrative instructions such as ‚ÄúManually Add‚Äù and ‚ÄúLookup from Alumni Report.‚Äù*

*The third row finally displayed meaningful column titles such as ‚ÄúInternational,‚Äù ‚ÄúFilled out survey,‚Äù ‚ÄúAPSIA Job Category,‚Äù ‚ÄúAPSIA Sector Category,‚Äù and ‚ÄúOutcome.‚Äù This confirmed that the true header row appeared at index 2 (the third row in the CSV).*

*By examining these first few rows, I realized that the CSV contained additional metadata from the original Excel file. Recognizing this pattern helped determine which row should be treated as the header and allowed me to correctly structure the dataset for analysis.*

In [ ]:
# Show first 10 rows (raw, no header)
data_raw = pd.read_csv("sipa_alumni_employment.csv", header=None)
data_raw.head(10)

,0,1,2,3,4,5,6,7,8,9,...,87,88,89,90,91,92,93,94,95,96
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Add from LinkedIn Report,NaN,NaN,NaN,NaN,NaN
1,Manually Add,Manually Add,Manually Add,Manually Add,NaN,NaN,Lookup from Alumni Report,Lookup from Alumni Report,I organized these columns to be in the beginni...,NaN,...,NaN,NaN,NaN,NaN,Found on LinkedIn,NaN,NaN,NaN,NaN,NaN
2,International,Filled out survey,APSIA Job Category,APSIA Sector Category,Date Reported - NEW,Outcome,Concentration,Degree,Sector,Detailed Industry,...,Will you be or are you currently working under...,Working at a Recently Founded Organization,Your Citizenship,Name of Employer,Name of Employer,Job Title,Employer Location,Start Date,Found on LinkedIn,Date Found on LinkedIn
3,No,Yes,<30 hours per week,For profit,10/15/2023,Job,INTERNATIONAL SECURITY POLICY,MIA,Private,Other ‚Äì Business Services,...,No,Yes,"United States, Ukraine",10a Labs,NaN,NaN,NaN,NaN,Filled out survey,Filled out survey
4,Yes,Yes,NaN,NaN,07/17/2023,Job,No Concentration,MPA-ESP,Private,Consulting,...,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,Filled out survey,Filled out survey
5,Yes,No,Unknown,NaN,NaN,Unreported,Economic and Political Development,MPA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,1/22/2024
6,Yes,No,30 Hours per week,Non-profit,NaN,Job,No Concentration,MPA-MDP,Nonprofit,Public Interest/Advocacy,...,NaN,NaN,NaN,Abdul Latif Jameel Poverty Action Lab,Abdul Latif Jameel Poverty Action Lab,Senior Policy Associate,"Boston, MA",7/1/2023,Yes,11/9/2023
7,Yes,No,Unknown,NaN,NaN,Unreported,Urban and Social Policy,MPA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,1/22/2024
8,Yes,Yes,Still Seeking Employment,NaN,07/09/2023,Job,No Concentration,MPA-MDP,Private,Finance/Banking,...,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,No,1/22/2024
9,No,No,30 Hours per week,Non-profit,NaN,Job,Economic and Political Development,MIA,Nonprofit,Public Interest/Advocacy,...,NaN,NaN,NaN,Abdul Latif Jameel Poverty Action Lab (J-PAL,Abdul Latif Jameel Poverty Action Lab (J-PAL,Senior Policy Associate,"Cambridge, MA",6/1/2023,Yes,1/18/2024

# Step 1.3 ‚Äì Inspecting the Salary Column

*After identifying that the ‚ÄúSalary‚Äù information was stored in column S (index 19), I examined the first twenty entries from that column to understand its structure and contents. The output revealed that the first few rows contained missing values (NaN), followed by a header label ‚ÄúSalary‚Äù in row 2, and then salary ranges such as ‚Äú$75,000‚Äì$79,999.‚Äù*

*This confirmed that the dataset did not follow a standard format where column headers appear at the top. Instead, the salary data began several rows below the header row, with a mix of blank cells and text entries above it. Additionally, the salary values were expressed as ranges rather than single numbers, meaning they would need to be cleaned and converted to numeric values before statistical analysis.*

*Identifying this pattern helped determine that the correct header row was located at index 2 (the third row), and that further data cleaning would be necessary to prepare the ‚ÄúSalary‚Äù column for calculation.*

In [ ]:
import pandas as pd

data_raw = pd.read_csv("sipa_alumni_employment.csv", header=None)
data_raw[19].head(20)

0                      NaN
1                      NaN
2                   Salary
3       o\t$75,000-$79,999
4                      NaN
5                      NaN
6                      NaN
7                      NaN
8                      NaN
9                      NaN
10                     NaN
11                     NaN
12                     NaN
13                     NaN
14                     NaN
15                     NaN
16                     NaN
17                     NaN
18                     NaN
19    o\t$110,000-$114,999
Name: 19, dtype: object

# Step 1.4 ‚Äì Loading the Salary Column with the Correct Header

*After identifying that the true header row appeared at index 2, I reloaded the dataset, specifying this row as the header so that pandas could correctly interpret the column names. I also limited the import to only column S (index 19), which contains the salary information.*

*When previewing the first ten rows, the output showed that the first entry included a value formatted as ‚Äúo\t$75,000‚Äì$79,999,‚Äù followed by several missing values (NaN). This confirmed that the Salary column was successfully loaded, but the data still contained unwanted characters such as ‚Äúo\t‚Äù and text formatting like dollar signs and commas. In addition, many rows were empty, suggesting that only certain records in the dataset contained salary information.*

*At this stage, I verified that the correct column was loaded but recognized that further data cleaning was required to remove extra symbols, handle missing values, and convert salary ranges into numeric values for analysis.*

In [ ]:
import pandas as pd

# Read only column S (index 19) with header in row 2
data = pd.read_csv(
    "sipa_alumni_employment.csv",
    usecols=[19],
    header=2,   # header is on row index 2
    names=["Salary"]
)

# Preview
data.head(10)

               Salary
0  o\t$75,000-$79,999
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN

# Step 1.5 ‚Äì Cleaning and Converting the Salary Data

*After successfully loading the Salary column, I began cleaning and transforming the data to prepare it for statistical analysis. The raw values in this column included extra characters, such as the prefix ‚Äúo\t,‚Äù dollar signs, commas, and text-based ranges like ‚Äú$75,000‚Äì$79,999‚Äù or ‚Äú200000 or greater.‚Äù These formats prevented pandas from recognizing the values as numeric.*

*First, I removed the unwanted ‚Äúo\t‚Äù prefix and stripped symbols like ‚Äú$‚Äù and ‚Äú,‚Äù from the strings. Then, I defined a custom function to convert each salary entry into a single numeric value. For salary ranges, I calculated the midpoint (for example, the range ‚Äú$75,000‚Äì$79,999‚Äù was converted to 77,499.5). For entries such as ‚Äú200000 or greater,‚Äù I used the lower bound (200,000) as a reasonable estimate. Invalid or missing entries were set to ‚ÄúNone‚Äù and later dropped from the dataset.*

*After applying this cleaning function and removing missing values, the Salary column was successfully converted to a numeric format. The preview of the cleaned data showed values like 77,499.5, 112,499.5, and 87,499.5, confirming that the data was now ready for calculating the mean, median, and mode.*

In [ ]:
# Remove leading 'o\t' if present
data["Salary"] = data["Salary"].astype(str).str.replace("o\t", "", regex=False)

# Function to convert salary strings to numeric
def salary_to_mid(s):
    if pd.isna(s) or s in ["nan", "Salary"]:
        return None
    s = s.replace("$","").replace(",","").strip()
    if "-" in s:
        low, high = s.split("-")
        return (float(low) + float(high)) / 2
    elif "or greater" in s:
        # Use the lower bound as a reasonable estimate
        num = s.split(" ")[0]
        return float(num)
    elif s.lower() in ["n/a", "na", "unknown"]:
        return None
    else:
        try:
            return float(s)
        except:
            return None

data["Salary"] = data["Salary"].apply(salary_to_mid)

# Drop rows with NaN
data = data.dropna()

# Preview
data.head(10)

      Salary
0    77499.5
16  112499.5
18   77499.5
22   87499.5
31   87499.5
60   42499.5
66  102499.5
68   22499.5
70  122499.5
72  102499.5

# Step 2 ‚Äì Calculating Salary Statistics Using pandas

*After cleaning the Salary column, I used pandas to calculate the key descriptive statistics: the mean, median, and mode. Pandas provides built-in methods for these calculations, which makes it efficient for summarizing large datasets. The mean represents the average salary, the median identifies the middle value, and the mode shows the most frequently occurring salary.*

In [ ]:
# Using pandas
mean_salary = data["Salary"].mean()
median_salary = data["Salary"].median()
mode_series = data["Salary"].mode()
mode_salary = mode_series[0] if not mode_series.empty else "No mode"

print(f"Mean: ${mean_salary:,.0f}")
print(f"Median: ${median_salary:,.0f}")
print(f"Mode: ${mode_salary:,.0f}" if mode_salary != "No mode" else "Mode: No mode")

Mean: $96,401
Median: $87,500
Mode: $77,500

# Step 3 ‚Äì Calculating Salary Statistics Using the Python Standard Library  

*To meet the project requirement, I repeated the same calculations without using pandas or the statistics module.*

*Instead, I used lists, loops, and conditional logic to manually calculate the mean, median, and mode.*

In [ ]:
# Convert the Salary column to a plain Python list
salaries = data["Salary"].dropna().tolist()

# Mean
mean_manual = sum(salaries) / len(salaries)

# Median
sorted_salaries = sorted(salaries)
n = len(sorted_salaries)
if n % 2 == 1:
    median_manual = sorted_salaries[n // 2]
else:
    median_manual = (sorted_salaries[n // 2 - 1] + sorted_salaries[n // 2]) / 2

# Mode (using dictionary counts)
counts = {}
for s in sorted_salaries:
    counts[s] = counts.get(s, 0) + 1
mode_manual = max(counts, key=counts.get)

print(f"Mean (manual): ${mean_manual:,.0f}")
print(f"Median (manual): ${median_manual:,.0f}")
print(f"Mode (manual): ${mode_manual:,.0f}")

Mean (manual): $96,401
Median (manual): $87,500
Mode (manual): $77,500

# Step 4.1 ‚Äì Creating a Markdown Table Visualization

*As an alternative to a text-based bar chart, I also explored a clean Markdown-style visualization using the IPython.display library. This approach allows data to be displayed as a formatted table directly within the Jupyter Notebook output, while still keeping the visualization simple and readable.*

*Using this method, I presented the mean, median, and mode values in a two-column table, with the statistic names in one column and the corresponding salary values (in U.S. dollars) in the other. This visualization is minimal yet professional, making it easy for readers to interpret the results without additional libraries or complex formatting.*

In [ ]:
from IPython.display import Markdown

mean_salary = data["Salary"].mean()
median_salary = data["Salary"].median()
mode_salary = data["Salary"].mode()[0] if not data["Salary"].mode().empty else 0

md = f"""
| Statistic | Value (USD) |
|------------|-------------:|
| **Mean**   | ${mean_salary:,.0f} |
| **Median** | ${median_salary:,.0f} |
| **Mode**   | ${mode_salary:,.0f} |
"""

display(Markdown(md))

| Statistic | Value (USD) |
|------------|-------------:|
| **Mean**   | $96,401 |
| **Median** | $87,500 |
| **Mode**   | $77,500 |

# Step 4.2 ‚Äì Creative Visualization with Gradient and Neon Effects

*At this stage, I wanted to play with the visualization and be more creative while staying within the project guidelines. Using the IPython.display module, I designed an HTML-based visualization that displays the mean, median, and mode in a visually engaging format. This approach allowed me to experiment with layout, color, and typography while still using only built-in Python and HTML rendering capabilities.*

*I created a dark-themed box with gradient text and neon effects to make the results stand out. Each statistic is represented in a different color, purple for the mean, green for the median, and yellow for the mode, making them easy to distinguish. The glowing effects and rounded edges give the table a modern, polished look, while keeping the presentation simple and clear.*

*This step reflects my goal to explore creativity within the assignment‚Äôs limits. It shows that even without advanced visualization libraries, data can be presented in a way that is both informative and visually appealing.*

In [ ]:
from IPython.display import HTML

mean_salary = data["Salary"].mean()
median_salary = data["Salary"].median()
mode_salary = data["Salary"].mode()[0] if not data["Salary"].mode().empty else 0

html = f"""
<div style="
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: #0b0b0f;
    border-radius: 14px;
    padding: 25px;
    width: 480px;
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
    margin: 10px auto;
    color: white;
">
    <h3 style="
        text-align:center;
        font-weight:700;
        font-size: 20px;
        background: linear-gradient(90deg, #FF00FF, #39FF14, #FFFF33);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 1px;
        margin-bottom: 20px;
    ">
        ‚ú® SIPA Alumni Salary Statistics ‚ú®
    </h3>

    <table style="width:100%; border-collapse:collapse; text-align:center; font-size:15px;">
        <tr style="color:#FF00FF; font-weight:bold;">
            <td style="padding:10px 0;"> Mean</td>
            <td style="color:#FF6FFF; text-shadow: 0 0 10px #FF00FF;">${mean_salary:,.0f}</td>
        </tr>
        <tr style="color:#39FF14; font-weight:bold;">
            <td style="padding:10px 0;"> Median</td>
            <td style="color:#7FFF00; text-shadow: 0 0 10px #39FF14;">${median_salary:,.0f}</td>
        </tr>
        <tr style="color:#FFFF33; font-weight:bold;">
            <td style="padding:10px 0;"> Mode</td>
            <td style="color:#FFFF66; text-shadow: 0 0 10px #FFFF33;">${mode_salary:,.0f}</td>
        </tr>
    </table>

    <p style="font-size:12px; text-align:center; color:#ccc; margin-top:15px;">
        üíº Data analyzed using Python (pandas & statistics) ‚Äî values in USD
    </p>
</div>
"""

display(HTML(html))

# Step 4.3 ‚Äì Standard Library Visualization

*Finally, to fully meet the project requirement, I created a simple text-based visualization using only the Python standard library, without relying on pandas, matplotlib, or any external packages. This step demonstrates how data can still be represented visually using nothing more than built-in Python tools.*

*In this visualization, I used proportional bars made up of repeating symbols to represent the relative size of each statistic: mean, median, and mode. Each bar‚Äôs length corresponds to the value‚Äôs scale, allowing for a quick visual comparison of the three salary measures. The symbols (üíº) were chosen to keep the theme consistent with the employment dataset while adding a touch of personality.*

*This minimalist approach shows that even without advanced visualization libraries, it‚Äôs possible to convey meaningful insights through simple and creative text formatting. It also aligns perfectly with the assignment‚Äôs rule of using only the Python standard library for visual representation.*

In [ ]:
# Standard Library Visualization 

# Use the same values
mean_salary = data["Salary"].mean()
median_salary = data["Salary"].median()
mode_salary = data["Salary"].mode()[0] if not data["Salary"].mode().empty else 0

salary_stats = {
    "Mean": mean_salary,
    "Median": median_salary,
    "Mode": mode_salary
}

max_val = max(salary_stats.values())

print("\nSIPA Alumni Salary Statistics (Visualized with Python Standard Library)\n")
for stat, val in salary_stats.items():
    bar_length = int((val / max_val) * 10)
    bar = "üíº" * bar_length  # use any symbol you like: *, $, ‚ñá, etc.
    print(f"{stat:7s}: {bar}  ${val:,.0f}")

SIPA Alumni Salary Statistics (Visualized with Python Standard Library)

Mean   : üíºüíºüíºüíºüíºüíºüíºüíºüíºüíº  $96,401
Median : üíºüíºüíºüíºüíºüíºüíºüíºüíº  $87,500
Mode   : üíºüíºüíºüíºüíºüíºüíºüíº  $77,500